:root {
  --item-bg: #f6f6f6;
  --item-bg-hover: #ededed;
  --item-border: #c5c5c5;
  --remove-btn-bg: #ddd;
  --remove-btn-bg-hover: #ccc;
  --generic-border: #ddd;
  --placeholder-border:#c1780e;
  --placeholder-bg: #ffe8af;
  --ontrack-green: #b3c022;
  --ontrack-green-hover: #a3af17;
  --ontrack-green-light: #99CD3D;
  --ontrack-green-dark: #616900;
  --text-colour: #454545;
  --draggable-icon: url(../images/draggable.gif);
  --body-padding: 40px;
  --item-height: 30px;
}

body {
  margin: 0;
  padding: var(--body-padding);
  font-family: Arial, Helvetica, sans-serif;
}

.m-b-10 {
  margin: 0 0 10px 0;
}

.m-b-20 {
  margin: 0 0 20px 0;
}

.container {
  display: flex;
  flex-direction: column;
}

/*********/
/* Menus */
/*********/

.menus {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  margin: 0 0 20px 0;
  padding: 0;
}

.menus > li {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding-right: 10px;
  margin: 0 0 10px 0;
}

.menus > li .ui-selectmenu-button {
  margin: 0 0 5px 0;
}

.menus .ui-button {
  width: 100%;
}

.menus #answer-container > input {
  padding: 5px;
  width: 113px;
  height: 21px;
  margin: 0 0 5px 0;
}

.sortable > li > .item-content > .answer {
  padding: 5px;
  max-width: 125px;
}

.menus #answer-container {
  background-color: var(--item-bg);
  padding: 0;
  width: 125px;
  height: 33px;
  margin: 0 0 5px 0;
}

#reset.ui-button {
  width: fit-content;
}

/*********/
/* Items */
/*********/

ul.sortable { 
  list-style-type: none; 
  margin: 0; 
  padding: 10px 0 0 10px;  
  width: auto;
  max-width: 655px;
  overflow-y: hidden;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  border: 1px solid var(--generic-border);
  background: none;
  min-height: calc(var(--item-height) + 12px);
}

ul.sortable li {
  display: flex;
  align-content: space-between;
  justify-content: space-between;
  flex-direction: row;
  background-color: var(--item-bg);
  font-size: 1rem;
  white-space: nowrap;
  width: auto;
  padding: 0;
  height: var(--item-height);
  border: 1px solid var(--item-border);
  /* transition: all 0.15s ease; */
}

ul.sortable li:hover {
  background-color: var(--item-bg-hover);
  /* transition: background-color 0.15s ease; */
}

ul.sortable li {
  margin: 0 10px 10px 0;
}

ul.sortable li .item {
  display: inline-block;
  margin: 6px 5px 0 2px;
}

.selected {
  box-shadow: 0px 5px 5px -2px #00000033;
}

.ui-sortable-placeholder {
  --border-size: 2px;
  display: inline-block;
  border: var(--border-size) dashed var(--placeholder-border) !important;
  background-color: var(--placeholder-bg) !important;
  height: calc(--item-height - var(--border-size) * 2) !important;
  min-height: calc(--item-height - var(--border-size) * 2) !important;
  min-width: 83px !important;
  padding: 0 !important;
}

.ui-widget-content {
  border: 1px solid var(--item-border) !important;
}

.sortable .ui-button {
  padding: 5px 0 5px 5px !important;
  margin: 0 !important;
}


/*************/
/* Draggable */
/*************/

.draggable {
  background-image: var(--draggable-icon);
  display: block;
  width: 18px;
  height: 18px;
  float: left;
  margin: 7px 2px 0 2px;
  cursor: move;
}

.draggable-li {
  display: inline-block;
  cursor: move;
  padding: 6px 10px;
  width: 50px;
}

/*****************/
/* Remove button */
/*****************/

.remove {
  background-color: transparent; 
  border: none;
  color: var(--text-colour);
  padding: 1px 1px 5px 4px;
  width: 10px;
  height: 10px;
  font-size: 0.875rem;
  border-radius: 0;
  line-height: 1;
  cursor: pointer;
  /* transition: background-color 0.15s ease; */
}

.remove:hover {
  background-color: var(--remove-btn-bg);
  /* transition: background-color 0.15s ease; */
}

.remove:before {
  content: '×';
}

/********/
/* Form */
/********/

.add-buttons {
  text-align: center;
}

button:disabled {
  opacity: 0.5;
  cursor: auto;
}

button:disabled:hover {
  background-color: #f6f6f6 !important;
}

td {
  padding: 5px 10px 5px 0;
}

